.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background: radial-gradient(ellipse at center, hsla(211, 90%, 47%, 1) 0%, hsla(238, 52%, 38%, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.header-div{
  background: linear-gradient(90deg, hsla(33, 92%, 54%, 1) 0%, hsla(33, 92%, 54%, 1) 74%);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
